<!DOCTYPE html>
<html>
    <head>
    <meta charset="=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Figma Template Project</title>
     
</head>

<body>
  <header>
    <div class="logo"><span> <img src="c:\Users\ESHOP\Downloads\logo.jpeg" alt="" 
      width="185px" height="41" margin-right="5px" flex></span></div>
     <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#shop">Shop</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    
    <div>
    <i class="fa-light fa-magnifying-glass"></i>
    <i class="fa-light fa-heart"></i>
    <i class="fa-light fa-cart-shopping"></i>
  </div>
  </header> 
  <div className="w-[1440px] h-[1144px] bg-[#FFFFFF] flex" >
    <h3>Get In Touch With Us</h3>
    <p>For More Information About Our Product & Services. Please Feel Free To Drop Us An Email. Our Staff Always Be There To Help You Out. Do Not Hesitate!</p>
    
    <div className="w-[1058px] h-[923px] bg-[#FFFFFF] flex" >
    
      <div className="w-[635px] h-[923px] bg-[#FFFFFF] flex" >
        <div className="w-[531px] h-[741px] bg-[#FFFFFF] flex" >
       
        <div className="w-[393px] h-[537px] flex">
          <div class="contact-section">
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="details">
                <h4>Address</h4>
                <p>236 5th SE Avenue, New York NY10000, United States</p>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-phone-alt"></i>
              </div>
              <div class="details">
                <h4>Phone</h4>
                <p>Mobile: +(84) 546-6789
                Hotline: +(84) 456-6789</p>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon">
                <i class="fas fa-clock"></i>
              </div>
              <div class="details">
                <h4>Working Time</h4>
                <p>Monday–Friday: 9:00 - 22:00
                Saturday–Sunday: 9:00 - 21:00</p>
              </div>
            </div>
          </div>
        
       
       
        <form id="form">
          <div className="w-[530px] h-[121px] gap-[22]">         
             <fieldset>
             <label for="Name">Your name </label>
             <br>
             <input id="Name" cols="30" rows="3"
             required placeholder="Abc"></input>
             </fieldset>

          <fieldset>
            <label for="Name">Email address </label>
             <br>
            <input  id="Email address" cols="20" rows="2" 
            required placeholder="Abc@def.com"></input>
          </fieldset>

          <fieldset>
            <label for="Name">Subject </label>
             <br>
            <input name="Subject" id="Subject" cols="30" rows="3" 
            required placeholder="This is an optional"></input>
          </fieldset>

      <fieldset>
        <label for="Name">Message </label>
        <br>
            <input name="Message" id="Message" cols="30" rows="3" 
            required placeholder="Hi! I would like to ask about"></input>
       </fieldset>
       <div class="container text-center mt=3">
        <button> Submit </button>
          </div>
        </div>
        </form>
       
        <div className="w-[1440px] h-[270px] bg-[#FFFFFF] flex" >
        <div className="w-[1334px] h-[70px] bg-[#FFFFFF] flex" >
        <div class="features">
    <div class="feature-item">
      <i class="icon trophy"></i>
      <h3>High Quality</h3>
      <p>crafted from top materials</p>
    </div>
    <div class="feature-item">
      <i class="icon check"></i>
      <h3>Warranty Protection</h3>
      <p>Over 2 years</p>
    </div>
    <div class="feature-item">
      <i class="icon shipping"></i>
      <h3>Free Shipping</h3>
      <p>Order over 150 $</p>
    </div>
    <div class="feature-item">
      <i class="icon support"></i>
      <h3>24 / 7 Support</h3>
      <p>Dedicated support</p>
    </div>
  </div>
        </div>
        </div>

    </div>  
        
  </div>
      
    
      </div>      
    
    </div>      
  </div>
   
  <footer class="footer">
    <div className="footer p-5 border-t-2 leading-10  border-gray-300">
      <div className="w-[14rem]  ">
          <h2 className="font-bold text-[2rem]">Funiro.</h2>
          <p className="leading-none">400 University Drive Suite 200 Coral Gables,
          FL 33134 USA</p>
      </div>


      <div>
          <h4>Navbar</h4>
          <ul>
              <li>Home</li>
              <li>Shop</li>
              <li>About</li>
              <li>Contact</li>
          </ul>
      </div>


      <div>
          <h4>Help</h4>
          <ul>
              <li>Payment Option</li>
              <li>Returns</li>
              <li>Privacy Policies</li>
          </ul>
      </div>

      <div>
          <h4>Newsletter</h4>
      <input type="text" placeholder="Your Email" />
      <button type="submit" className="font-bold">SUBSCRIBE</button>
      </div>
      
  </div>
  <div  className="para">

      <hr />
      <p>2023 furino. All rights reverved</p>
  </div>
  </footer>

    </body>
</html>
